{% extends "layout_login.html" %}

{% block title %}

  Register

{% endblock %}

{% block main %}

  <div class="outer-wrap">
    <div id="center" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-10">
     <div class="center">
       <img src="../static/src/write.png" alt="register" style="max-width:100px">
     </div>
       <form action="/register" method="post">
         <div class="d-grid gap-3 justify-content-center">
         {{form.hidden_tag()}}
         {{ form.csrf_token }}
         <div>{{form.username(class="form-control w-auto mx-auto")}}</div>
         <div>{{form.password(class="form-control w-auto mx-auto")}}</div>
         <div>{{form.confirm(class="form-control w-auto mx-auto")}}</div>
         <div class="center">{{form.register(class="btn btn-primary")}}</div>
         <div>
           <p class="center">Already have account?<a href="/login"> Sign in</a></p>
         </div>
         </div>
       </form>
     </div>
   </div>

{% endblock %}